In [2]:
import pandas as pd
print ('library berhasil diimport')

library berhasil diimport

In [3]:
df = pd.read_csv ('../data/data.csv')
df.head(10)

,Universitas,Program,Tahun,Penerimaan,Program_Studi,UKT-1,UKT-2,UKT-3,UKT-4,UKT-5,UKT-6,UKT-7,UKT-8,UKT-9,UKT-10,UKT-11
0,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Rekayasa Perangkat Lunak,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
1,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Rekayasa Mesin,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
2,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Rekayasa Elektro,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
3,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Rekayasa Instrumentasi dan Kontrol,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
4,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Survei dan Pemetaan Dasar,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
5,UGM,D4,2025/2026,SNBP/SNBT,Sistem Informasi Geografis,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
6,UGM,D4,2025/2026,SNBP/SNBT,Pengembangan Produk Agroindustri,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
7,UGM,D4,2025/2026,SNBP/SNBT,Teknik Pengelolaan dan Perawatan Alat Berat,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
8,UGM,D4,2025/2026,SNBP/SNBT,Teknologi Rekayasa Internet,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN
9,UGM,D4,2025/2026,SNBP/SNBT,Teknik Pengelolaan dan Pemeliharaan Infrastruk...,0.0,0,3325000,6650000.0,9975000.0,13300000.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()
# datasetnya banyak yang missing value
# bisa dilakukan dropping tapi konsekuensinya sebagian besar data hilang
# fill diisi  tapi tidak objektif,  entah dengan value random, atau dengan mean, median, dan mode.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Universitas    702 non-null    object
 1   Program        702 non-null    object
 2   Tahun          702 non-null    object
 3   Penerimaan     702 non-null    object
 4   Program_Studi  702 non-null    object
 5   UKT-1          701 non-null    float64
 6   UKT-2          702 non-null    int64
 7   UKT-3          702 non-null    int64
 8   UKT-4          699 non-null    float64
 9   UKT-5          699 non-null    float64
 10  UKT-6          658 non-null    float64
 11  UKT-7          559 non-null    float64
 12  UKT-8          365 non-null    float64
 13  UKT-9          134 non-null    float64
 14  UKT-10         62 non-null     float64
 15  UKT-11         43 non-null     float64
dtypes: float64(9), int64(2), object(5)
memory usage: 87.9+ KB

In [5]:
# praktekin semua saja 
# 1. drop mv
df_drop = df.dropna() 
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 109 to 150
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Universitas    42 non-null     object
 1   Program        42 non-null     object
 2   Tahun          42 non-null     object
 3   Penerimaan     42 non-null     object
 4   Program_Studi  42 non-null     object
 5   UKT-1          42 non-null     float64
 6   UKT-2          42 non-null     int64
 7   UKT-3          42 non-null     int64
 8   UKT-4          42 non-null     float64
 9   UKT-5          42 non-null     float64
 10  UKT-6          42 non-null     float64
 11  UKT-7          42 non-null     float64
 12  UKT-8          42 non-null     float64
 13  UKT-9          42 non-null     float64
 14  UKT-10         42 non-null     float64
 15  UKT-11         42 non-null     float64
dtypes: float64(9), int64(2), object(5)
memory usage: 5.6+ KB

In [6]:
# gila data yang dari 700 an ke 40 an doang

In [7]:

# 2. fill dengan mean
mn = df['UKT-4'].mean()
df_fillna=df.fillna({"UKT-4": mn})
df_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Universitas    702 non-null    object
 1   Program        702 non-null    object
 2   Tahun          702 non-null    object
 3   Penerimaan     702 non-null    object
 4   Program_Studi  702 non-null    object
 5   UKT-1          701 non-null    float64
 6   UKT-2          702 non-null    int64
 7   UKT-3          702 non-null    int64
 8   UKT-4          702 non-null    float64
 9   UKT-5          699 non-null    float64
 10  UKT-6          658 non-null    float64
 11  UKT-7          559 non-null    float64
 12  UKT-8          365 non-null    float64
 13  UKT-9          134 non-null    float64
 14  UKT-10         62 non-null     float64
 15  UKT-11         43 non-null     float64
dtypes: float64(9), int64(2), object(5)
memory usage: 87.9+ KB

In [8]:
# terlihat data ukt-4 sudah sama dengan data diatasnya yaitu 702 yang sebelumnya 699. Di atribut ukt-4 itu diisi mean dari atribut ukt-4 itu sendiri

In [9]:
md = df_fillna['UKT-5'].median()
df_fillna = df.fillna({"UKT-5":md})
df_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Universitas    702 non-null    object
 1   Program        702 non-null    object
 2   Tahun          702 non-null    object
 3   Penerimaan     702 non-null    object
 4   Program_Studi  702 non-null    object
 5   UKT-1          701 non-null    float64
 6   UKT-2          702 non-null    int64
 7   UKT-3          702 non-null    int64
 8   UKT-4          699 non-null    float64
 9   UKT-5          702 non-null    float64
 10  UKT-6          658 non-null    float64
 11  UKT-7          559 non-null    float64
 12  UKT-8          365 non-null    float64
 13  UKT-9          134 non-null    float64
 14  UKT-10         62 non-null     float64
 15  UKT-11         43 non-null     float64
dtypes: float64(9), int64(2), object(5)
memory usage: 87.9+ KB

In [10]:
mode = df['UKT-6'].mode()[0]
df_fillna = df.fillna({'UKT-6':mode})
df_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Universitas    702 non-null    object
 1   Program        702 non-null    object
 2   Tahun          702 non-null    object
 3   Penerimaan     702 non-null    object
 4   Program_Studi  702 non-null    object
 5   UKT-1          701 non-null    float64
 6   UKT-2          702 non-null    int64
 7   UKT-3          702 non-null    int64
 8   UKT-4          699 non-null    float64
 9   UKT-5          699 non-null    float64
 10  UKT-6          702 non-null    float64
 11  UKT-7          559 non-null    float64
 12  UKT-8          365 non-null    float64
 13  UKT-9          134 non-null    float64
 14  UKT-10         62 non-null     float64
 15  UKT-11         43 non-null     float64
dtypes: float64(9), int64(2), object(5)
memory usage: 87.9+ KB

In [11]:
print(df.isnull().sum())

Universitas        0
Program            0
Tahun              0
Penerimaan         0
Program_Studi      0
UKT-1              1
UKT-2              0
UKT-3              0
UKT-4              3
UKT-5              3
UKT-6             44
UKT-7            143
UKT-8            337
UKT-9            568
UKT-10           640
UKT-11           659
dtype: int64

In [18]:
df.describe()

,UKT-1,UKT-2,UKT-3,UKT-4,UKT-5,UKT-6,UKT-7,UKT-8,UKT-9,UKT-10,UKT-11
count,7.010000e+02,7.020000e+02,7.020000e+02,6.990000e+02,6.990000e+02,6.580000e+02,5.590000e+02,3.650000e+02,1.340000e+02,6.200000e+01,4.300000e+01
mean,5.890157e+05,1.024359e+06,2.981236e+06,4.535811e+06,6.006242e+06,7.470135e+06,8.053063e+06,8.797567e+06,1.246625e+07,1.627419e+07,1.723488e+07
std,7.401404e+05,8.742908e+05,1.169208e+06,1.615941e+06,2.253142e+06,2.968209e+06,2.704882e+06,2.876391e+06,3.576652e+06,1.845858e+06,3.837651e+06
min,0.000000e+00,0.000000e+00,1.000000e+06,2.000000e+06,2.800000e+06,4.235000e+06,4.940000e+06,5.700000e+06,7.348000e+06,1.300000e+07,7.800000e+06
25%,5.000000e+05,1.000000e+06,2.400000e+06,3.630000e+06,4.795000e+06,5.500000e+06,6.350000e+06,6.800000e+06,1.000000e+07,1.425000e+07,1.460000e+07
50%,5.000000e+05,1.000000e+06,2.500000e+06,4.235000e+06,5.500000e+06,6.587500e+06,7.500000e+06,8.000000e+06,1.250000e+07,1.750000e+07,1.910000e+07
75%,5.000000e+05,1.000000e+06,3.325000e+06,5.000000e+06,6.784000e+06,8.623000e+06,1.000000e+07,1.008700e+07,1.500000e+07,1.750000e+07,1.990000e+07
max,1.010000e+07,1.120000e+07,1.500000e+07,1.750000e+07,2.250000e+07,2.500000e+07,2.750000e+07,3.000000e+07,3.000000e+07,1.750000e+07,2.000000e+07